.app {
  font-family: sans-serif;
  text-align: center;
  font-size: calc(var(--grid-size) * 2);
  display: grid;
  grid-template-rows: 0px 1fr;
  height: 100vh;
}

.actions {
  margin: 0 auto;
  width: fit-content;
}

.action {
  margin: var(--grid-size);
  padding: var(--grid-size) calc(var(--grid-size) * 4);
  border: 1px solid blue;
  border-radius: var(--grid-size);
}

[role="button"]:hover {
  cursor: pointer;
}

.computer {
  text-align: left;
  font-family: monospace;
  font-size: 1.2em;
}

.platz {
  align-self: center;
  padding: 2em;
}

.version {
  font-size: 0.7em;
  font-weight: lighter;
  text-align: left;
  margin: 1em;
}

.spacer {
  display: block;
  min-width: var(--spacer-size, var(--grid-size));
  max-width: var(--spacer-size, var(--grid-size));
  min-height: var(--spacer-size, var(--grid-size));
  max-height: var(--spacer-size, var(--grid-size));
}

.spacer.large {
  --spacer-size: calc(var(--grid-size) * 8);
}

.spacer.medium {
  --spacer-size: calc(var(--grid-size) * 4);
}

.spacer.small {
  --spacer-size: var(--grid-size);
}

body {
  padding: 0;
  margin: 0;
}

:root {
  --grid-size: 8px;
}
