.app {
  font-family: sans-serif;
  text-align: center;
  font-size: calc(var(--grid-size * 2));
}

.actions {
  margin: 0 auto;
  width: fit-content;
}

.action {
  margin: var(--grid-size);
  padding: var(--grid-size) calc(var(--grid-size) * 4);
  border: 1px solid blue;
  border-radius: var(--grid-size);
}

[role="button"]:hover {
  cursor: pointer;
}

.computer {
  text-align: left;
  font-family: monospace;
  font-size: 1.2em;
}

.spacer {
  display: inline-block;
  min-width: var(--grid-size);
  max-width: var(--grid-size);
  min-height: var(--grid-size);
  max-height: var(--grid-size);
}

:root {
  --grid-size: 8px;
}
